node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*
lerna-debug.log*
logs/
*.log
*.log.*

.next
out/
dist/
build/
*.tsbuildinfo
.turbo/
.eslintcache
.nyc_output/
coverage/
.sass-cache/
.parcel-cache/
.swc/


.vercel/


.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc


prisma/*.db
prisma/*.db-journal


.docker/
docker-data/
**/docker-volume/
**/db-data/


.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
*.swp
*.swo


*.orig
*.patch
*.tgz


# Backups locais (não commitar)
kings_neon_backup.sql
